
/*==========================================================
  MAIN RESOLUTION: 1280px;
  fixing grid
  green: #69F269 
  gray: #FAFBFE
  crema: #E0DBE4
  blue: #00AEF0;
==========================================================*/

  body {
    width: 100%; /*1276 / 1280 este es el contexto*/
    background: #eee;
    font-family: "ff-dagny-web-pro";
    font-size: 18px;
    margin:0 auto; 
    overflow-x: hidden;
    max-width: 1280px;
  }

  .wrapper{max-width: 1280px;margin: 0 auto}
  .back-intro{float: left;width: 100%;height:100%}
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 2em; /*36px / 18px*/
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em; /*27px / 18px*/
  }

  h3 {
    font-size: 1.2em; /*24px / 18px*/
  }

  p, ul li.tags-menu-item{
    font-size: 0.7778em; /*14px /18px*/
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  .col-1 {
    width: 06.875%; /*88px / 1280*/
  }

  .col-2 {
    width: 13.75%; /*176px / 1280*/
  }

  .col-3 {
    width: 20.625%; /*264px / 1280*/
  }

  .col-4 {
    width: 27.5%; /*352px / 1280*/
  }

  .col-5 {
    width: 34.375%; /*440px / 1280*/
  }

  .col-6 {
    width: 41.25%; /*528px / 1280*/
  }

  .col-7 {
    width: 48.125%; /*616px / 1280*/
  }

  .col-8 {
    width: 55%; /*704px / 1280*/
  }

  .col-9 {
    width: 61.875%; /*792px / 1280*/
  }

  .col-10 {
    width: 68.75%; /*880px / 1280*/
  }

  .col-14 {
    width: 96.25%; /*704px / 1280*/
  }
  
  /*MEDIA QUERY 640 x 960*/
  /*===Mobile Phones Portrait ===*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.8em; /*36px / 18px*/
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 1em; /*27px / 18px*/
    }

    h3 {
      font-size: .7em; /*24px / 18px*/
    }
  }/*end media query*/

  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5em; /*36px / 18px*/
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 1em; /*27px / 18px*/
    }

    h3 {
      font-size: .8em; /*24px / 18px*/
    }
  }/*end media query*/

  @media screen and (min-width: 320px) and (max-width: 479px) {
    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5em; /*36px / 18px*/
    }

    h2 {
      font-style: normal; 
      font-weight: 700;
      font-size: 1em; /*27px / 18px*/
    }

    h3 {
      font-size: .8em; /*24px / 18px*/
    }
  }/*end media query*/

  /*HEADER NAV*/
  div.header {
    width: 100%;
    max-width: 100%;
    background-color: rgb(26, 26, 26);
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    max-width: 1280px;
  }

  div.header-nav-items {
    text-align: center;
    height: 33px;
    margin: 0 auto;
  }

  div.header-items span {

  }

  span.menu-icon {
    display: inline-block;
    width: 28px;
    height: 85%;
    background-image: url("../images/icon-menu-medium.png");
    margin: 0.5% 5%;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  span.logo-icon {
    display: inline-block;
    width: 28px;
    height: 85%;
    background-image: url("../images/logo-footer.png");
    margin: 0.5% 5%;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  a span.go-up-arrow {
    display: none;
    width: 28px;
    height: 85%;
    background-image: url("../images/icon-go-up-medium.png");
    margin: 0.5% 5%;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  span.search-icon {
    display: inline-block;
    width: 28px;
    height: 85%;
    background-image: url("../images/search-medium.png");
    margin: 0.5% 5%;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
  }
  
  div.intro-preposition {
    float: left;
    margin-top: 33px;
    height: auto;
    background-color: #000;
    width: 100%
  }


  div.intro-preposition h1 {
    width: 80%;
    margin: 66px auto;
    color: #fff;
    text-align: center;
    font-weight: 200;
  }

  div.intro-preposition em {
    display: block;
    color: #69F269;
    margin-top: 44px;
    cursor: pointer;
  }

  div.menu {
    width: 96.25%; /*1232 / 1280 left 24px for side*/ 
    background: rgb(26, 26, 26);
    margin: 01.7857143%; /*margin left-right 22px*/
    float: left;
    display: none;
  }

  div.menu ul h2 {
    color: gray;
  }

  div.menu div.menu-side-left {
    float: left;
  }

  div.menu-side-left h2 {
    float: left;
    color: white;
  } 
  
  ul.menu-side-filtros, ul.menu-side-nuevos, ul.menu-side-popular {
    width: 100%;
    float: left;
    margin-top: 22px;
  }

  div.menu-side-left ul.menu-side-filtros li, 
  div.menu-side-left ul.menu-side-nuevos li,
  div.menu-side-left ul.menu-side-popular li {
    display: inline-block;
    float: left;
    margin: 0 3px 22px 0;
    color: white;
  }

  div.menu-side-search {
    float: right;
  }

  div.menu-side-search div.serch-items,
  div.menu-side-search div.links-items, div.menu-side-search div.social-section {
    margin-top: 22px; 
    width: 100%;
    float: left;
  }

  div.menu-side-search div.serch-items {
    text-align: center;
  }

  div.serch-items h2,
  div.serch-items input[type="text"],
  div.serch-items span {
    display: inline-block;
  }

  div.serch-items h2 {
    float: left;
    color: gray;
  }

  div.serch-items .icon-search {
    float: right;
    width: 30px;
    height: 30px;
    background-image: url("../images/search.png");
    margin-top: -5px;
    border: none;
    background-color: transparent;
  } 

  div.serch-items input[type="text"] {
    width: 60%;
    margin: 0 10px;
    color: white;
    background: transparent;
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
  } 

  div.links-items {
    float: left;
  }

  div.links-items a h2{
    color: white; 
    float: left; 
    padding: 0 15% 0 0; 
    text-transform: capitalize;
  }

  div.menu-side-search div.social-section a { 
    margin: 0 10% 0 0;
  }

  span.social-icon-close {
    float: right;
    background-color: red;
    width: 23px;
    height: 23px;
    background: url("../images/icon-close-small.png");
  }


  li.filtro-item div.radio-btn {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #69F269;
    display: inline-block;
    cursor: pointer;
  }

  li.filtro-item div.radio-btn.active {
    background: none !important;
  }

  li.filtro-item span {
    font-size: 1.2em;
    font-weight: 600;
    color:#fff;
  }
  li.filtro-item span.back-home:hover {text-decoration: underline;}
  li.filtro-item span.popular {color:gray;cursor:default;}
  li.filtro-item span.popular:hover{color:gray !important;}
  /*ul.menu-side-popular li.filtro-item span,
  ul.menu-side-nuevos li.filtro-item span {
    border-bottom: 1px solid #fff;
  }
  ul.menu-side-popular li.filtro-item span:hover,
  ul.menu-side-nuevos li.filtro-item span:hover {
    border-bottom: none;
  }*/
  ul.menu-side-nuevos li.filtro-item span:after,
  ul.menu-side-popular li.filtro-item span:after{
    content: " \B7 ";
    color:gray;
    border-bottom: 1px solid #1a1a1a
  }
  ul.menu-side-nuevos li.filtro-item:last-child span:after,
  ul.menu-side-popular li.filtro-item:last-child span:after{
    display: none;
  }
  div.links-items .second-icon-close {
    display: none;
  }

  /*Media Query Header*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.menu div.menu-side-left, div.menu-side-search {
      width: 96%;
      float: none;
      margin: 0 auto;
    }

    ul li.filtro-item {
      margin-left: 10px;

    }

    li.filtro-item span {
      font-size: 1.5em;
    }

    div.links-items .second-icon-close {
      display: inline-block;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.menu div.menu-side-left, div.menu-side-search {
      width: 96%;
      float: none;
      margin: 0 auto;
    }

    ul li.filtro-item {
      margin-left: 10px;

    }

    li.filtro-item span {
      font-size: 1.3em;
    }

    div.links-items .second-icon-close {
      display: inline-block;
    }

    div.menu-side-search div.social-section {
      display: none;
    }

    /*span.menu-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../images/icon-menu.png");
      margin: 10px 2%;
    }*/|

    /*span.search-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../images/search.png");
      margin: 10px 2%;
    }*/

  }

  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.menu div.menu-side-left, div.menu-side-search {
      width: 96%;
      float: none;
      margin: 0 auto;
    }

    ul li.filtro-item {
      margin-left: 5px;
      font-size: 0.7em;
    }

    li.filtro-item span {
      font-size: 1.5em;
      width: 100%;
    }

    div.links-items .second-icon-close {
      display: inline-block;
    }

    div.menu-side-search div.social-section {
      display: none;
    }

    div.serch-items h2 {
      display: none;
    }

    div.serch-items input[type="text"] {
      width:80%;
    }

    div.links-items a {
      color: white;
      float: left;
      padding: 0 8% 0 0;
    }
  }

  /*END HEADER*/

  /*HISTORIA TEMPLATE CODE*/
  div.webstribe-section {
    width: 100%;
    height: 1280px;
    background-color: #000;
    float: left;
  }
  .page .webstribe-section{
    background:#fff
  }
  /*SEARCH TEMPLATE CODE*/
  div.cloud-tags-header  div.cloud-tags {
    margin-top: 33px;
  }
  
  div.cloud-tags-header  div.cloud-tags h1 {
    margin: 20px 0;
    font-weight: 200;
    color: #fff;
  }

  div.cloud-tags-header  div.cloud-tags h3 {
    font-size: 1.7em;
    margin: 24px 0;
    font-weight: 400;
    color: #fff;
  }

  div.cloud-tags-header  div.cloud-tags h2 {
    font-style: normal;
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
    margin-bottom:-12px; 
  }

  div.search {
    background-color: #fff;
    float: left;
    
    width: 100%;
  }

  div.search div.search-result {
    text-align: center;
    background-color:transparent;
    width: 97.5%; /*1252 / 1276 left 24px for side*/ 
    margin: 01.171875%; /*margin left-right 12px*/
    padding: 0;
    float: left;
    overflow: hidden;
    position: relative;
  }
  div.search div.search-result a{
    width: 100%;
    height: 100%;
    display: block;
  }
  div.search div.search-result .back-intro{
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
  }
  div.search.historias div.search-result .back-intro:hover{
    background-color: rgba(0,0,0,0.9);
  }
  div.search div.search-result h2{
    margin:40px 0;
  }
  div.search-result h3{
    top:45%;
    width: 100%;
    position: absolute;
    font-weight: 400;
    font-size: 1.8em;
}
  }

  div.search .img-icon-par {
    width: 81px;
    height: 81px;
    position: relative;
    margin: 0 auto;
    margin-top: 280px;
    cursor: pointer;
    background-image: url("../images/impar-icon.png");
  }

  div.reporte-wrap-serach {
    background-color: #0d0d0d;
    width: 100%;
    float: left;
  }

  div.reporte-wrap-serach div.reporte-container {
    background-color: #fff;
  }
  
  div.reporte-wrap-serach div.category-card div.detail-section {
    background: #fff;
  }

  div.admodule div.admodule2 {
    width: 45%;
    background-color: #00AEF0;
  }

  div.admodule div.admodule2 div.addetails div.adsdescription {
    padding: 44px 0;
  }

  div.admodule div.admodule2 .addetails {
    width: 100%;
    height: 340px;
    max-width: 100%;
  }

  div.admodule div.admodule2 div.addetails .image-adsection .img-prenda {
    width: 100%;
  }
  /*END SEARCH TEMPLATE CODE*/

  /*RESPONSIVE SEARCH TEMPLATE*/

  /*====Tablet 640====*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.admodule div.admodule2 {
      width: 100%;
      height: 300px;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription {
      padding: 2.333333% 0;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription p {
      padding: 0;
    }

  }

  /*====Smartphone 480====*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.admodule div.admodule2 {
      width: 100%;
      height: 225px;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription {
      padding: 2.333333% 0;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription p {
      line-height: 20px;
      font-size: 0.8em;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription a span {
      line-height: 20px;
      font-size: 0.8em;
    }

    div.admodule div.adsection div.adsdescription p {
      font-size: .8em;
      padding: 0;
    }

    div.admodule div.adsection div.adsdescription a{
      font-size: .8em;
    }
  }

  /*====Smartphone 320====*/
  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.admodule div.admodule2 {
      width: 100%;
      height: 150px;
    }

    div.admodule div.admodule2 div.addetails div.adsdescription {
      padding: 2.333333% 0;
      height: 140px;
    }


    div.admodule div.admodule2 div.addetails div.adsdescription a span {
      line-height: 10px;
      font-size: 1em;
    }

    div.admodule div.adsection {
      height: 162px;
      max-width: 100%;
    }

    div.admodule div.adsection div.adsdescription p {
      font-size: .58em;
      padding: 0;
      margin: 0;
      line-height: 15px;
    }

    div.admodule .adsection .adsdescription {
      width: 44%;
      float: left;
      padding: 2.333333% 2.2727273%;
    }

    div.admodule div.adsection div.adsdescription a{
      font-size: .7em;
    }
  }
  
  /*REPORTE SECTION*/
  div.reporte {
    background: #69F269;
    width: 100%; /*1280*/
    float: left;
    max-width: 1280px;
  }

  div.reporte-container {
    /*width: 96.25%; /*1232 / 1280 left 24px for side*/ 
    background: #FAFBFE;
    margin: 01.17857143%; /*margin left-right 22px*/
    float: left;
    width: 97.65%;
    display: block;
    overflow: hidden;
  }

  div.reporte-wrap {
    float: left;
    width: 100%;
    background-color: #0d0d0d;
  }

  div.header-reporte {
    text-align: center;
    font-weight: 900;
  }

  div h1.titulo {
    padding: 22px; /*44px total*/
    margin: 0 auto;
    font-weight: 900;
    font-variant: black;
  }
  .single h1.titulo{
    color:#0d0d0d !important;
  }
  div.panel1-right-side.left h1.titulo::after {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    content: " ";
    border-right:15px solid #fff;
    float: right;
    margin-right: -8%;
    margin-top:8px;
  }

  .single div.panel1-right-side h1.titulo::before, 
  div.panel1-right-side.right h1.titulo::before {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    content: " ";
    border-left:15px solid #fff;
    float: left;
    margin-left: -8%;
    margin-top:8px;
  }
  div.right h1.titulo::after {
    display: none;
  }
  div.left h1.titulo::before {
    display: none;
  }
  div h1.titulo a{color:#000;}
  div.icons-hr {
    margin: 0 auto 24px auto;
    border-bottom: 2px solid #eee;
    border-style: dotted;
  }

  ul.tags-menu {
    margin: 0 auto;
  }

  li.tags-menu-item {
    display: inline-block;
    background: #E2E3E5;
    font-weight: 400;
    margin: 1%;
    padding: 0.5%;
  }

  li.tags-menu-item a{
    text-decoration: none;
    color: black;  
    font-weight: 400;
  }
  /*REPORTE UNICO REPORTE TEMPLATE*/
  
  /*UNICO DE REPORTE SECTION*/
  div.reporte-unico {
    background: rgb(226, 227, 230);
    width:100%;
    float: left;
    margin-top: 33px;
  }

  div.reporte-unico-2 {
    background: rgb(226, 227, 230);
    width:100%;
    float: left;
  }

  div.reporte-unico-container {
    width: 97.5%;
    background: rgb(226, 227, 230);
    margin: 02.34375% 01.171875%; /*margin left-right 12px*/
    padding: 10px 0;
    float: left;
  }

  div.reporte-unico div.reporte-unico-container div.title-report {
    text-align: center;
    width: 85%;
    border: 0;
    line-height: 40px;
    font-weight: 400;
    font-size: 1.8em;
  }

  div.reporte-unico div.header-reporte-unico {
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 42.24%;
  }

  div.header-reporte-unico {
    text-align: center;
    font-weight: 900;
  }

  div.title-report {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  div.title-report h3 {
    text-align: center;
  }

  /*REPORTE UNICO 2 HISTORY*/
  div.reporte-unico-2 {
    height: 420px;
  }

  div.reporte-unico-2 div.reporte-unico-container div.header-reporte-unico div.social-icons-hr {
    border-color: gray;
  }

  div.reporte-unico div.reporte-unico-container div.header-reporte-unico div.social-icons-hr {
    border-color: gray;
  }
  
  div.reporte-unico-2 div.social .social-icons-hr {
    width: 42.2%;
    margin: 20px auto;
    border-color: gray;
  }

  div.reporte-unico div.social .social-icons-hr {
    width: 42.2%;
    margin: 20px auto;
    border-color: gray;
  }

  div.reporte-unico-2 div.reporte-unico-container div.title-report {
    text-align: center;
    width: 85%;
    border: 0;
    line-height: 40px;
    font-weight: 400;
    font-size: 1.8em;
  }

  div.reporte-unico-2 div.reporte-unico-container ul.tags-menu {
    text-align: center;
    width: 60%;
    margin-left: 0 auto;
    height: 30px;
  }

  div.reporte-unico-2 div.reporte-unico-container ul.tags-menu li{
    display: inline-block;
    background: rgba(205, 206, 208, 1);
    font-weight: 400;
    margin: 0px 1% 0 0.5%;
    padding: 0.5%;
  }

  /*REPORTE UNICO 2 HISTORY*/
  /*END REPORTE UNICO REPORTE TEMPLATE*/

  /*==== Tablet 640====*/
  @media screen and (min-width: 640px) and (max-width: 980px) {

  }

  /*==== Smartphone 480====*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.reporte-unico div.reporte-unico-container div.header-reporte-unico div.social-icons-hr {
      width: 80%;
      margin: 0 auto;
    }

    div.reporte-unico div.social .social-icons-hr {
      width: 100%;
      margin: 20px auto;
      border-color: gray;
    }

    div.reporte-unico div.reporte-unico-container div.title-report {
      text-align: center;
      width: 85%;
      font-size: 1.5em;
    }
    
    div.reporte-unico div.reporte-unico-container div.header-reporte-unico h1.titulo {
    }

    div.reporte-unico div.header-reporte-unico {
      text-align: center;
      font-weight: 900;
      margin: 0 auto;
      width: 100%;
    }
  }

  /*==== Smartphone 320====*/
  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.reporte-unico div.reporte-unico-container div.header-reporte-unico div.social-icons-hr {
      width: 90%;
      margin: 0 auto;
    }

    div.reporte-unico div.social .social-icons-hr {
      width: 90%;
      margin: 20px auto;
      border-color: gray;
    }

    div.reporte-unico div.reporte-unico-container div.title-report {
      text-align: center;
      width: 85%;
      font-size: 1em;
    }
    
    div.reporte-unico div.reporte-unico-container div.header-reporte-unico h1.titulo {
    }

    div.reporte-unico div.header-reporte-unico {
      text-align: center;
      font-weight: 900;
      margin: 0 auto;
      width: 100%;
    }
  }

  /*REPORT CATEGORY*/
  div.report-category {
    width: 100%; /*1232*/
    background: #FAFBFE;
    height: 395px;
  }

  div.report-category div.category-card {
    float: left;
    overflow: hidden;
  }

  div.category-card img {
    width: 100%;
    height: auto;
    float: left
  }
  div.category-card .container-img-reporte{
    height:375px;
    overflow: hidden;
    float: left;
    width: 100%;
    display: block;
  }

  .impar {
    width: 28.5714286%; /*352 / 1232*/
  }

  .par {
    width: 21.4285714%; /*264 / 1232*/
  }

  div.category-card .img-icon-par {
    width: 100%;
    height: 81px;
    position: relative;
    margin: 0 auto;
    margin-top: -140px;
    cursor: pointer;
    background: url("../images/impar-icon.png") no-repeat center center;
    float: left;
  }

  div.category-card div.detail-section {
    float: left;
    background: #FAFBFE;
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 44px;
    padding-top: 50px;
  }

  div.category-card div.detail-section h2{
    height: 40px;
    font-weight: 700;
    font-size: 1.2em;
  }
  div.category-card div.detail-section h2 a{
    color:#000;
  }
  div.category-card div.detail-section h2 a:hover{
    color:#999;
  }
  /*social section*/
  div.social {
    width: 100%;
    height: 88px;
    float: left;
  }

  div.social-icons {
    margin:0 auto;
    text-align: center;
  }
  .panel1-right-side div.social-icons ul{padding:0;}

  div.social-icons-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    border-style: dotted;
  }

  div.social ul li{
    display: inline-block;
    margin: 0 5%;
  }

  div.social ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
  }

  div.social-icons ul li span{
    display: block;
    width: 34px;  /*tamanio de iconos*/
    height: 34px;
  }

  div.social2 {
    display: none;
  }

  ul li a span.fb-icon {
    background-image: url("../images/fbicon-medium.png");
  }
  ul li a span.tw-icon {
    background-image: url("../images/twicon-medium.png");
  }
  ul li span.st_email {
    background-image: url("../images/msgicon-medium.png");
  }
  ul li .stButton .email{background:none !important;}
  .stButton .chicklets{display: none !important}
  /*end social section*/
  
  @media screen and (min-width: 981px) and (max-width: 1280px){
    div.category-card .container-img-reporte{
      height:290px;
    }
  }
  /*===== Tablet 640 ===*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.header-nav-items {
      max-width: 480px;
      min-width: 280px;
    }

    div.intro-preposition h1 {
      font-size: 1.8em;
      margin: 44px auto;
    }

    div h1.titulo {
      min-width: 280px;
    }

    div.icons-hr {
      min-width: 68.75%;
    }

    ul.tags-menu {
      min-width: 300px;
    }

    div.report-category {
      width: 100%;
    }
    
    div.report-category div.category-card {
      width:100%;
    }

    .impar {
      max-width: 57.1428571%; /*704 / 1232*/
    }

    .par {
      max-width: 42.8571429%; /*528 / 1232*/
    }

    div.social-icons {
      float: none;
      width: 80%;
    }
    div.category-card .container-img-reporte  {height:360px;}
    
  }/*end media query*/

  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.header-nav-items {
      max-width: 480px;
      min-width: 280px;
    }

    div.intro-preposition h1 {
      font-size: 1.5em;
      margin: 44px auto;
    }

    div h1.titulo {
      min-width: 280px;
    }

    div.icons-hr {
      min-width: 90%;
    }

    ul.tags-menu {
      min-width: 300px;
    }

    div.report-category {
      width: 100%;
    }
    
    div.report-category div.category-card {
      width:100%;
    }

    .impar {
      max-width: 57.1428571%; /*352 / 480*/
    }

    .par {
      max-width: 42.8571429%; /*128 / 480*/
    }


    div.social-icons {
      float: none;
      width: 80%;
    }
    div.category-card .container-img-reporte{
      height:270px;
    }
    
  }/*end media query*/

  @media screen and (min-width: 320px) and (max-width: 479px) {   
    div.header-nav-items {
      max-width: 320px;
      min-width: 280px;
    }

    div.intro-preposition h1 {
      font-size: 1.5em;
      margin: 26px auto;
    }

    div h1.titulo {
      min-width: 280px;
    }

    div.icons-hr {
      min-width: 90%;
    }

    ul.tags-menu {
      min-width: 300px;
    }

    div.report-category {
      width: 100%;
      min-width: 300px;
    }

    div.report-category div.category-card {
      width: 100%;
    }

    div.impar {
      max-width: 100%;
    }

    div.par {
      max-width: 100%;
    }

    div.social-icons {
      float: none;
      width: 80%;
    }
    div.category-card .container-img-reporte{
      height:150px;
    }
    

  }
@media screen and (max-width: 320px){
  div.category-card .container-img-reporte{
      height:150px;
    }
    div.category-card .img-icon-par {
      height: 50px;
      background-size: auto 100%;
      margin-top:-120px;
      background-repeat: no-repeat;
      background-position: center center;
    }
}
  /*end media query*/
  /*END REPORTE*/

  /*ADMODULE*/
  div.admodule {
    width: 100%;
    background-color: #1a1a1a;
    float: left;
  }

  div.admodule .subscribe {
    float: left;
    max-width: 528px;
    text-align: center;
    padding: 0
  }
  div.admodule .subscribe form{padding: 0 3%;}
  div.admodule form h1 {
    padding: 7.333333333% 2.2727273%;
    font-variant: regular;
    font-weight: 200;
    width: 83.3333333%; /*440 / 528*/
    max-width: 440px;
    margin: 0 auto;
    color:#fff;
  }

  div.admodule form .item-text {
    background: transparent;
    width: 68.2170543%; /*352 / 516*/
    border:0;
    border:none !important;
    border-bottom: 1px solid #999!important;
    text-align: center;
    font-size: 1em;
    color:#fff;
  }

  div.admodule form .btn-ok {
    border: none;
    background-color: transparent;
    width: 34px;
    height: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-image: url('../images/okicon.png');
    background-repeat: no-repeat;
    border: none !important;
  }
  
  form input.search {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-image: url('../images/search-black.png');
  }

  div.adsdtext {
    display: none;
    z-index: 10
  }

  div.admodule .adsection {
    float: right;
    background-color: #fff;
    max-width: 100%;
  }

  div.admodule .adsection .image-adsection {
    width: 50%;
    float: right;
    max-width: 350px;
    height: auto;
  }

  .image-adsection .img-zapato {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
  }

  div.admodule .adsection .adsdescription {
    width: 44%;
    float: left;
    padding: 2.2727273%;
  }

  div.admodule .adsection .adsdescription p {
    line-height: 22px;
    font-size: 1em;
    font-weight: 400;
    font-variant: Regular;
  }  /*END ADMODULE*/
  div.admodule form h1{
    text-align: center
  }

  /*ADMODULE MEDIA*/
  /*===== Tablet 640 ===*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.admodule .subscribe {
      float: none;
      max-width: 100%;
      width: 100%;
    }
   
    div.admodule form h1 {
      float: none;
      font-size: 2em;
      max-width: 600px;
      margin: 0 auto;
    }

    div.admodule .adsection .image-adsection {
      max-width: 600px;
      
    }

    div.admodule .adsection {
      width: 100%;
      float: left;
      background-color: #fff;
    }

    div.admodule .adsection .adsdescription {
      width: 46.5%;
      padding: 1.75%;
    }
    
    div.admodule .adsection .adsdescription p {
      font-size: 1.2em;
      padding-top: 22px;
    }
  }
  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.admodule .subscribe {
      float: none;
      max-width: 100%;
      width: 100%;
    }
   
    div.admodule form h1 {
      float: none;
      font-size: 1.8em;
      max-width: 380px;
      margin: 0 auto;
    }

    div.admodule .adsection .image-adsection {
      max-width: 480px;
      height: 246px;
    }

    div.admodule .adsection {
      width: 100%;
      float: left;
      background-color: #fff;
    }

    div.admodule .adsection .adsdescription {
      width: 47%;
      padding: 2.333333% 0.272727%;
    }
    
    div.admodule .adsection .adsdescription p {
      font-size: 1em;
    }
  }

  /*==== Media 3200 */
  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.admodule .subscribe {
      float: none;
      max-width: 100%;
      width: 100%;
    }
   
    div.admodule form h1 {
      float: none;
      font-size: 1.5em;
      max-width: 310px;
      margin: 0 auto;
    }

    div.admodule .adsection .image-adsection {
      max-width: 320px;
      height: 180px;
    }

    div.admodule .adsection {
      width: 100%;
      float: left;
      background-color: #fff;
      max-width: 320px;
    }

    div.admodule .adsection .adsdescription p {
      font-size: 0.7em;
    }
  }

  /*PANEL1*/
  div.panel1 {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-top:0;
    min-height: 100px;
    position: relative; /*hack tamaño sidebar*/
    overflow: hidden;
  }
  
  .papel-panel {
    margin:33px 0 0 0;
  }

  div.panel1 div.header-reporte {
    display: none;
  }

  div.panel1 div.panel1-left-side {
    width: 68.9655172%; /*880 / 1276*/
    max-width: 880px;
    float: left;
    background-color: #fff;
  }

  div.panel1 div.panel1-left-container {
    /*width: 80.0%;*/ /*704 / 1276*/
    text-align:center;
    /*max-width: 704px; //Hack alejo*/ 
    min-height:auto;
    margin:0 auto;
  }
  
  div.panel1-left-container div.info-icon {
    display: none;
  }

  div.panel1-left-container img {
    max-width: 96.5%;
    height: auto;
    padding: 1.75%;
  }

  div.panel1 div.panel1-right-side {
    width: 31%; /*352 / 1276*/
    height: 100%;
    float: right;
    background-color: #eee;
    position: absolute;

  }

  div.panel1-right-container {
    margin:0 auto; /*352*/
    width: 100%;
  }
  div.panel1-right-side.right {
    right:0;
  }
  div.panel1-right-side.left {
    left:0;
  }
  div.panel1-right-container h1 {
    width:88%;
    border:0;
    margin: 7.777% 0;
    font-weight: 900;
    padding:6%;
  }

  div.panel1-right-container h1 a{
    color:#000;
  }
  div.panel1-right-container h1 a:hover,div.header-reporte .titulo a:hover{
    border-bottom: 2px solid;
  }

  div.panel1-right-container .icon-info {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../images/icon-info.png");
    margin-left: 20px;
    margin-bottom: 40px;
  }

  div.panel1-right-container p {
    width: 85%;
    border:0;
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  div.panel1-right-side ul {
    padding: 20px;
  }

  div.panel1-right-side ul li{
    margin: 0px 1% 24px 0.5%;
    padding: 1% 2%;
  }
  div.panel1-right-side ul.tags-menu li{
    margin: 1% 2% 1% 0;
  }
  div.panel1-right-side .social-icons {
    width:100px;
    float: left;
    margin: 20px;
  }

  div.social2 .social-icons-hr {
    display: none;
  }
  /*END PANEL1*/
  /*PANEL MEDIA*/
  /*===Tablets 640===*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.panel1 div.header-reporte {
      display: block;
    }

    div.panel1 div.panel1-right-side {
      display: none;
    }

    div.panel1 div.panel1-left-side {
      width: 100%;
      position: relative;
      float: left;
    }

    div.panel1 div.panel1-left-container{
      width: 100%;
      padding: 10px;
      margin: 0;
      padding: 0;
      max-width: 100%;
      float: none;
      text-align: center;
      min-height:auto;
    }
    
    div.panel1-left-container div.icon-info-container {
      position: absolute;
      width: 10%;
      left: 45%;
      margin-top: 5%;
      height: 10%;
      z-index: 999;
    }

    div.panel1-left-container .info-icon {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/logo-info.png") no-repeat;
      margin: 0 auto;
      background-size:100%;
    }

    div.panel1-left-container img {
      padding: 0;
    }

    div.adsdtext {
      display: none;
      position: absolute;
      color: white;
      float: left;
      background-color: rgba(0,0,0,0.8);
      width:100%;
    }

    div.adsdtext div.icon-close {
      position: relative;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }

    .adstext-description p {
      font-size: 2.2em;
      width: 68.75%; /*440 / 640*/
      margin:40px auto 80px auto;
      text-align: left;
    }
    
    /*social 2*/
    div.social2 {
      display: inline-block;
      width: 100%; /*1276 / 1280 left 24 for margin*/ 
      height: 60px;
      float: left;
      margin-top: 12px;
    }

    div.social2 .social-icons {
      width: 300px;
    }

    div.social2 .social-icons ul li {
      float: left;
    }

    div.social2 .social-icons ul li a span {
      margin: 0 30px;
    }

    div h1.titulo {
      max-width: 480px;
      float: none;
      margin: 15px auto;
      padding: 0;
      padding-top: 22px;
    }
    .panel1-left-side .header-reporte h1.titulo a{
      color: #000;
    }

    div.social2 div.social-icons-hr {
      display: block;
      margin: 0 auto;
      margin-top: 44px;
      margin-bottom: 0px;
      width: 60%;
    }

    div.admodule2 .adsection {
      display: none;
    }
  }
  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.panel1 div.header-reporte {
      display: block;
    }

    div.panel1 div.panel1-right-side {
      display: none;
    }

    div.panel1 div.panel1-left-side {
      width: 100%;
      position: relative;
      float: left;
    }

    div.panel1 div.panel1-left-container{
      width: 100%;
      padding: 10px;
      padding: 0;
      max-width: 480px;
      float: none;
      text-align: center;
      min-height:auto;
    }

    div.panel1-left-container div.icon-info-container {
      position: absolute;
      width: 10%;
      left: 45%;
      margin-top: 5%;
      height:10%;
      z-index: 9
    }

    div.panel1-left-container span.info-icon {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/logo-info.png") no-repeat;
      margin: 0 auto;
      background-size:100%;
    }
    
    div.adsdtext div.icon-close {
      position: relative;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }

    .adstext-description p {
      font-size: 2.2em;
      width: 68.75%; /*440 / 640*/
      margin:40px auto 80px auto;
      text-align: left;
    }

    div.adsdtext {
      display: none;
      position: absolute;
      color: white;
      float: left;
      background-color: rgba(0,0,0,0.8);
      width:100%;
    }

    div.adsdtext  .adstext-description p {
      font-size: 1.5em;
      width: 90.75%; /*440 / 640*/
      text-align: left;
    }
    
    /*social 2*/
    div.social2 {
      display: inline-block;
      width: 100%; /*1276 / 1280 left 24 for margin*/ 
      height: 60px;
      float: left;
      margin-top: 12px;
    }

    div.social2 .social-icons {
      width: 180px;
    }

    div.social2 .social-icons ul li {
      float: left;
    }

    div.social2 .social-icons ul li a span {
      margin: 0 10px;
    }

    div h1.titulo {
      max-width: 480px;
      float: none;
      margin: 15px auto;
      padding: 0;
    }
    div h1.titulo a{color:#000;}
    div.social2 div.social-icons-hr {
      display: block;
      margin-top: 44px;
      margin-bottom: 0px;
    }

    div.admodule2 .adsection {
      display: none;
    }
  }

  /*====== Media 320 =======*/
  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.panel1 div.header-reporte {
      display: block;
    }

    div.panel1 div.panel1-right-side {
      display: none;
    }

    div.panel1 div.panel1-left-side {
      width: 100%;
      position: relative;
      float: left;
    }

    div.panel1 div.panel1-left-container {
      width: 100%;
      padding: 10px;
      margin: 0;
      padding: 0;
      float: none;
      text-align: center;
      min-height:auto;
    }

    div.panel1-left-container div.icon-info-container {
      position: absolute;
      width: 10%;
      left: 45%;
      margin-top: 5%;
      height:10%;
    }

    div.panel1-left-container span.info-icon {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/logo-info.png") no-repeat;
      margin: 0 auto;
      background-size:100%;
    }

    div.adsdtext div.icon-close {
      position: relative;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }

    div.adsdtext  .adstext-description p {
      font-size: 1em;
      width: 90.75%; /*440 / 640*/
      text-align: left;
    }

    div.adsdtext {
      display: none;
      position: absolute;
      color: white;
      float: left;
      background-color: rgba(0,0,0,0.8);
      width:100%;
    }

    .adstext-description p {
      font-size: 2.2em;
      width: 68.75%; /*440 / 640*/
      margin:40px auto 80px auto;
      text-align: left;
    }
    
    /*social 2*/
    div.social2 {
      display: inline-block;
      width: 100%; /*1276 / 1280 left 24 for margin*/ 
      height: 60px;
      float: left;
      margin-top: 12px;
    }

    div.social2 .social-icons {
      width: 180px;
    }

    div.social2 .social-icons ul li {
      float: left;
    }

    div.social2 .social-icons ul li a span {
      margin: 0 10px;
    }

    div h1.titulo {
      max-width: 320px;
      float: none;
      margin: 15px auto;
      padding: 0;
    }
    div h1.titulo a{color:#000;}
    div.social2 div.social-icons-hr {
      display: block;
      margin-top: 44px;
    }

    div.admodule2 .adsection {
      display: none;
    }

  }
  
  /*SIDE MENU PAPEL*/
  div.side-menu {
    width: 100%;
    background-color: #fff;
    float: left;
  }

  div.side-menu div.image-credits {
    float: left;
    width: 68.75%; /*880 / 1276*/
    max-width: 880px;
    margin-top: 22px; 
  }
  
  div.image-credits p.credits {
    text-align: center;
    margin:0 auto;
    font-size: 1em;
    font-weight: 200;
    font-style: normal;
  }
  
  div.side-menu div.image-credits div.side-menu-conten2{
    display: none;
  }
  .single div.side-menu-conten2 .social-icons{
    display:none;
  }

  div.side-menu-conten {
    width: 31%; /*352 / 1276*/
    min-width: 200px;
    float: right;
    background-color: #69F269;
  }
  
  a.menu-content-left, a.menu-content-right {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 0;
    padding: 22px 0;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
  }
  
  .text-left-icon h2, .text-right-icon h2 {
    font-size: 1em;
  }

  a.menu-content-left {
    padding-left: 03.3333333%;
    padding-right: 0;
  }

  a.menu-content-left span.left-icon { 
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("../images/icon-left.png");
    float: left;
    margin-top: 2px;
  }

  a.menu-content-left span.text-left-icon {
    display: inline-block;
    margin: 4px 8px;
    font-weight: 700;
    font-style: normal;
  }

  a.menu-content-right{
    float: right;
    padding-left: 0;
    padding-right: 03.3333333%;
    width: 143px;
  }
  
  a.menu-content-right span.text-right-icon {
    display: inline-block;
    margin: 4px 8px;
    font-weight: 900;
  }

  a.menu-content-right span.right-icon { 
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("../images/icon-right.png");
    float: right;
    margin-top: 2px;
  }
  /*END SIDE MENU*/

  /*RESPOSIVE SIDE MENU PAPEL VIEW*/
  /*====Tablet 640=====*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    
    div.side-menu div.image-credits {
      float: left;
      width: 100%;
      max-width: 100%;
      margin-top: 22px;
      margin-bottom: -3px;
    }

    div.side-menu div.image-credits  p.credits {
      padding:22px 0;
      font-weight: 200;
    }

    div.side-menu-conten {
      display: none;
    }

    div.side-menu div.image-credits div.side-menu-conten2{
      display: inline-block;
      width: 100%;
    }

    div.image-credits div.social {
      float: left;
      width: 49%;
      height: 0;
    }

    div.image-credits div.social div.social-icons{
      background-color: white;
      padding-top: 24px;
    }

    a.menu-content-left, a.menu-content-right {
      display: inline-block;
      float: left;
      width: 45%;
      margin: 0;
      padding: 22px 0;
      font-size: 1.2em;
      text-decoration: none;
      color: black;
      background-color: green;
    }
    
    a.menu-content-right{
      float: right;
      padding-left: 0;
      padding-right: 03.3333333%;
      text-align: center;
    }

    a.menu-content-left {
      padding-left: 03.3333333%;
      padding-right: 0;
    }

    a.menu-content-left span.left-icon { 
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url("../images/icon-left.png");
      float: left;
      margin-top: 2px;
    }

    a.menu-content-left span.text-left-icon {
      display: inline-block;
      margin: 4px 8px;
      font-weight: 700;
      font-style: normal;
    }

  }
  /*==== Smartphone 480 ====*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    
    div.side-menu div.image-credits  p.credits {
      padding: 12px 0;
      font-weight: 200;
    }

    div.side-menu-conten {
      display: none;
    }

    div.side-menu div.image-credits {
      width: 100%;
    }

    div.side-menu div.image-credits div.side-menu-conten2{
      display: inline-block;
      width: 100%;
      max-width: 100%;
    }

    div.image-credits div.social {
      float: left;
      width: 40%;
      height: inherit;
    }

    div.image-credits div.social div.social-icons{
      padding-top: 24px 0;
      width: 100%;
    }

    a.menu-content-left, a.menu-content-right {
      display: inline-block;
      float: left;
      width: 45%;
      margin: 0;
      padding: 22px 0;
      font-size: 1em;
      text-decoration: none;
      color: black;
      background-color: green;
    }
    
    a.menu-content-right{
      float: right;
      padding-left: 0;
      padding-right: 03.3333333%;
      width: 45%;
    }

    a.menu-content-left {
      padding-left: 03.3333333%;
      padding-right: 0;
    }

    a.menu-content-left span.left-icon { 
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url("../images/icon-left.png");
      float: left;
      margin-top: 2px;
    }

    a.menu-content-left span.text-left-icon {
      display: inline-block;
      margin: 4px 8px;
      font-weight: 700;
      font-style: normal;
    }

  }

  /*==== Smartphone 480 ====*/
  @media screen and (min-width: 320px) and (max-width: 479px) {
    
    div.side-menu div.image-credits  p.credits {
      padding: 12px 0;
      font-weight: 200;
    }

    div.side-menu-conten {
      display: none;
    }

    div.side-menu div.image-credits div.side-menu-conten2{
      display: inline-block;
      width: 100%;
    }

    div.side-menu div.image-credits {
      width: 100%;
    }

    div.side-menu div.image-credits div.side-menu-conten2{
      display: inline-block;
      width: 100%;
      max-width: 100%;
    }

    div.image-credits div.social {
      float: left;
      width: 68%;
      height: inherit;
    }

    div.image-credits div.social div.social-icons{
      padding-top: 24px 0;
      width: 100%;
    }

    a.menu-content-left, a.menu-content-right {
      display: inline-block;
      float: left;
      width: 45%;
      margin: 0;
      padding: 22px 0;
      font-size: 0em;
      text-decoration: none;
      color: black;
      background-color: green;
    }
    
    a.menu-content-right{
      float: right;
      padding-left: 0;
      padding-right: 03.3333333%;
    }

    a.menu-content-left {
      padding-left: 03.3333333%;
      padding-right: 0;
    }

    a.menu-content-left span.left-icon { 
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url("../images/icon-left.png");
      float: left;
      margin-top: 2px;
    }
    
    a.menu-content-right span.text-right-icon {
      display: none;
    }

    a.menu-content-left span.text-left-icon {
      display: none;
    }

  }
  /*END RESPOSIVE SIDE MENU PAPEL VIEW*/

  /*ADMODULE2*/
  div.admodule2 {
    width: 100%;
    background-color: #1a1a1a;
    float: left;
  }

  div.admodule2 .addetails {
    float: left;
    width: 56.4%;
    text-align: left;
    background-color: #00AEF0;
  }
  
  div.admodule2 .addetails .image-adsection {
    float: left;
    width: 50%;
    text-align: center;
  }

  div.admodule2 div.addetails div.image-adsection img.img-zapato {
    width: 100%;
    clear: both;
    height: auto;
  }
  
  div.addetails div.adsdescription {
    float: left;
    width: 45%;
    padding: 10px 5px;
  }

  div.admodule2 div.addetails div.adsdescription {
    float: left;`
    width: 45%; /*352 / 704*/
    padding: 2%;
  }

  div.admodule2 div.addetails div.adsdescription p {
    width: 100%;
    font-size: 1em;
    color: #000;
    line-height: 1.2em
  }

    div.admodule2 div.addetails div.adsdescription a span {
    color: #000;
  }

  /*Poll Section*/
  .poll-section{
    width: 40.1%;
    float: left;
    display: block;
    padding: 1.175%;
  }
  .poll-section p strong{
    font-style: normal;
    font-weight: 200;
    font-size: 2em;
    color: #fff;
    background: none
  }
  .poll-section ul{ margin-left: 0; color: #fff; }
  .poll-section ul.wp-polls-ul li label{
    font-size: 1.2em;
    line-height: 1.3em;

  }
  .poll-section input[type=radio]{vertical-align: baseline;}
  .wp-polls input.Buttons{
    font-size: 1.2em;
    line-height: 1.3em;
    border: 1px solid;
    background: none;
    color: #fff;
    font-weight: normal;
    padding: 0.5% 1%;
  }
  /*END ADMODULE2*/
  /*===Tablets 640===*/
  @media screen and (min-width: 640px) and (max-width: 980px) {
    div.admodule2 .addetails .image-adsection {
      float: left;
      width: 50%; /*352 / 704*/
    }

    div.admodule2 .addetails{
      width: 100%;
      max-width: 100%;
    }

    div.admodule2 div.adsdescription {
      width: 45%;
      margin:0;
      padding: 0;
      font-size: 0.9em;
      line-height: 1.2em
    }

    div.admodule2 div.addetails div.adsdescription p {
      line-height: 22px;
      padding-top: 18px;
      font-size: 1.2em;
    }
    /*Poll Section*/
    .poll-section{
      width: 97.65%;
      float: left;
      display: block;
      padding: 1.175%;
    }
  }
  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.admodule2 .addetails .image-adsection {
      float: left;
      width: 50%; /*352 / 704*/
    }

    div.admodule2 .addetails{
      width: 100%;
    }

    div.admodule2 div.adsdescription {
      width: 45%;
      margin:0;
      padding: 0;
      font-size: 1em;
      line-height: 1.2em
    }

    div.admodule2 div.addetails div.adsdescription p {
      line-height: 18px;
      font-size: 0.9em
    }
    /*Poll Section*/
    .poll-section{
      width: 97.65%;
      float: left;
      display: block;
      padding: 1.175%;
    }
  }

  /*====== Smartphone Media 320 =======*/
  @media screen and (min-width: 320px) and (max-width: 479px) {

    div.admodule2 .addetails .image-adsection {
      float: left;
      width: 50%; /*352 / 704*/
    }

    div.admodule2 .addetails{
      width: 100%;
    }

    div.admodule2 div.adsdescription {
      width: 45%;
      margin:0;
      padding: 0;
      font-size: .58em;
      line-height: 0.8em
    }

    div.admodule2 div.addetails div.adsdescription p {
      line-height: 13px;
    }
    /*Poll Section*/
    .poll-section{
      width: 97.65%;
      float: left;
      display: block;
      padding: 1.175%;
    }
  }
  /*CLOUD TAGS*/
  div.cloud-tags {
    background-color: rgb(14, 14, 14);
    text-align: center;
    float: left;
    width: 100%;
  }

  div.cloud-tags p.cloud-tags-title {
    display: inline-block;
    margin: 40px 0 0 0;
    color: #fff;
    font-size: 1em; /*14px /18px*/
  }

  div.cloud-tags .tags-menu {
    text-align: center;
    margin: 10px auto 24px auto;
  }

  div.cloud-tags .tags-menu li {
    border:1px solid #69F269;
    background-color: transparent;
    padding: 10px;
    margin: 7px 7px;
    font-size: 1.2em;
  }

  div.cloud-tags .tags-menu li a{
    color: white;
    font-weight: 700;
  }
  /*END CLOUD TAGS*/

  /*FOTER*/
  div.footer {
    width: 100%;
    max-width: 1280px;
    float: left;
    background-color: rgb(26, 26, 26);
    padding-top: 24px;
    margin-top: 1px;
  }

  div.footer div.footer-components {
    margin: 0 auto;
  }
 
  div.footer  div.copyright {
    float: left;
    width: 80.3793103%;/*528 / 1276*/
  }
  
  .copyright {
    background-color: #eee;
  }
  /*END CLOUD TAGS*/

  /*FOTER*/
  div.footer {
    width: 100%;
    float: left;
    background-color: rgb(26, 26, 26);
    padding-top: 24px;
    margin-top:0;
  }

  div.footer-components  span.logo-footer {
    float: left;
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../images/logo-footer.png");
    clear: both;
    margin: -00.5681818% 01.1363636% 01.5909091% 0;
    background-repeat: no-repeat;
  }
  
  div.footer-components ul.menu-items {
    margin-left: 1.105263%;
    float: left;
    font-weight: 400;
  }

  div.footer-components ul.menu-items li {
    display: inline-block;
    float: left;
    margin-right: 5px;
  }
  
  div.footer-components ul.menu-items li a {
    color: #fff;
    text-decoration: none;
  }
  div.footer-components ul.menu-items li a:after {
    content: " \B7 ";
    color:#fff;
  }
  div.footer-components ul.menu-items li:nth-child(4) a:after {
    display: none 
  }
  div.footer-components ul.menu-items li p {
    font-weight: 200;
    color:#ddd;
    font-size: 16px;
  }
  
  div.footer-components  div.section-go-back {
    float: left;
    text-align: center;
  }

  div.footer-components span.icon-goup {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-image: url("../images/icon-go-up-medium.png");
    margin-top: -7px;
  }

  div.footer-components div.social-section {
    margin: 0.5%;
    float: left;
  }

  div.footer-components div.social-section a {
    margin: 0 5%;
    float: left;
  }
  
  div.footer-components span.social-icon-oficios-varios {
    display: inline-block;
    width: 55px;
    height: 27px;
    background-image: url("../images/oficios-varios.png");
    float: right;
    margin-top: -35px;
  }
  /*END FOOTER*/

  /*FOOTER MEDIA*/
  /*===Tablets 640===*/
  @media screen and ( min-width: 640px) and (max-width: 980px) {
    div.section-go-back, div.social-section {
      display: none;
    }

    div.footer-components ul.menu-items {
      width: 70%;
      float: left;
      margin-left: 50px;
    }
    
    div.footer-components ul.menu-items li{
      font-size: 1em;
    }

    div.footer-components ul.menu-items li p {   
      font-size: 1em;
    }
    
    div.footer-components  span.logo-footer {
    }

    div.footer-components span.social-icon-oficios-varios {
      margin-top: 5px;
    }
  } 

  /*===Smartphone 480===*/
  @media screen and (min-width: 480px) and (max-width: 639px) {
    div.footer-components ul.menu-items {
      width: 70%;
      float: left;
      margin-left: 10px;
    }
    
    div.footer-components ul.menu-items li{
      font-size: 1.2em;
      margin: 5px 0;
      width: 47%;
    }

    div.footer-components span.social-icon-oficios-varios {
      margin-top: 10px;
    }

    div.footer-components div.social-section {
      display: none;
    }

    div.footer-components div.section-go-back {
      display: none;
    }

    div.footer-components span.logo-footer {
      display: none;
    }

    li.item p {
      display: none;
    }
  }

  /*===Smartphone 320===*/
  @media screen and (min-width: 320px) and (max-width: 479px) {
    div.footer-components ul.menu-items {
      width: 70%;
      float: left;
      margin-left: 10px;
    }

    div.footer-components ul.menu-items li{
      font-size: 1 em;
      margin: 5px 0;
      width: 47%;
    }

    div.report-category div.category-card {
      width: 50%;
    }

    div.footer-components ul.menu-items li p {
      font-size: .7em;
    }

    div.footer-components span.social-icon-oficios-varios {
      margin-top: 0;
    }

    div.footer-components div.social-section {
      display: none;
    }

    div.footer-components div.section-go-back {
      display: none;
    }

    div.footer-components span.logo-footer {
      display: none;
    }

    li.item p {
      display: none;
    }
  }
  /*END FOOTER MEDIA*/



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}


/*alejo hacks*/
.page-container{
  padding: 1.171875%;
  width: 97.67%;
  float: left;
  background:#fafbfe;
  text-align: justify;
  
}
.page-container p, .page-container li{
  font-size: 1em;
  line-height: 1.2em;
}
.page .wpcf7 {
  width:55%;
  margin: 0 auto;
}
.page .wpcf7 input[type=text],
.page .wpcf7 input[type=email],
.page .wpcf7 textarea {
  width: 100%;
  margin: 7px auto;
}
.page .wpcf7 label{
  font-size: 2em;
  font-weight: 200;
}
.page .wpcf7 p{
  float: left;
  width: 100%;
  margin: 10px auto;
  text-align: center
}
.page .wpcf7 input[type=text],
.page .wpcf7 input[type=email]{
  height: 25px;
  
}
.page .wpcf7 input[type=submit]{
  background: none;
  border: none;
  font-size: 2em;
  font-family: "ff-dagny-web-pro";
  font-weight: 900;
}

/*div.tlImageContainer{
  max-height: 585px
}*/

/*.tag .mix{
  display: none;
}*/
.jgiraldo-pagination{display:none;}


a span.go-up-arrow {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1; }
    5% { opacity: 1 ;}
    10%{ opacity: 1.0;}
    20%{ opacity: 1.0;}
    30%{ opacity: 1.0;}
    40%{ opacity: 1.0;}
    50%{ opacity: 1.0;}
    60%{ opacity: 1.0;}
    70%{ opacity: 1.0;}
    80%{ opacity: 1.0;}
    90%{ opacity: 1.0;}
    95%{ opacity: 0.2}
    100% {opacity: 1}
}

@-webkit-keyframes blinker {  
    0% { opacity: 1; }
    5% { opacity: 1 ;}
    10%{ opacity: 1.0;}
    20%{ opacity: 1.0;}
    30%{ opacity: 1.0;}
    40%{ opacity: 1.0;}
    50%{ opacity: 1.0;}
    60%{ opacity: 1.0;}
    70%{ opacity: 1.0;}
    80%{ opacity: 1.0;}
    90%{ opacity: 1.0;}
    95%{ opacity: 0.2}
    100% {opacity: 1}
}

@keyframes blinker {  
    0% { opacity: 0.2; }
    5% { opacity: 1 ;}
    10%{ opacity: 1.0;}
    20%{ opacity: 1.0;}
    30%{ opacity: 1.0;}
    40%{ opacity: 1.0;}
    50%{ opacity: 1.0;}
    60%{ opacity: 1.0;}
    70%{ opacity: 1.0;}
    80%{ opacity: 1.0;}
    90%{ opacity: 1.0;}
    95%{ opacity: 0.2}
    100% {opacity: 1}
}



.alwaysThinglink{
  height:auto !important;max-width:100% !important;width:96.5% !important
}





/**
 * New Menu Css
 */
div.header {
    width: 100%;
    max-width: 100%;
    background-color: rgb(26, 26, 26);
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    max-width: 1280px;
}
div.new-header-nav-items,
.social-icon-close{
  display: none;
}
 div.menu {
    background: #181818;
    border-bottom: 4px solid #6958a2;
    overflow: hidden;
    display: block;
    padding: 0; 
    margin:0;
    width:100%;
    height: 41px;
}
 div.menu ul li{
  float: left;
  /*padding: 12px;*/
  box-sizing: border-box;
  background: #181818;
  line-height: 1em;
 }
 div.menu ul li.li-close{
  display: none;
  background: #181818;
 }

 div.menu ul li:first-child{
  padding-left: 1.25%;
 }
 div.menu ul li:first-child a{
  padding-left: 0
 }
 div.menu ul li:nth-child(6){
  padding-right: 17.5%
 }
 div.menu ul li a{
  color: #FFF;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding:12px;
 }
 div.menu ul li ul li a{
  padding:0;
 }
 div.menu ul li ul.menu-social{
  padding: 10px;
 }
 div.menu ul li form{
  padding:10px 12px;
 }
div.menu ul li:nth-child(2){
  background: #6958a2; 
}
div.menu ul li:nth-child(3){
  background: #90c67e; 
}
div.menu ul li:nth-child(4){
  background: #eeda7b;
  /*padding: 10px;
  padding-bottom: 11px*/
}
div.menu ul li:nth-child(5){
  background: #f3b3e7;
  /*padding: 10px;*/
}
div.menu ul li:nth-child(6){
  background: #5fc4e2; 
}

div.menu ul li input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  width: 82%;
  color: #181818;
  outline: none;
  margin-right: 5%;
  -webkit-appearance:none;
  font-size:16px;
}
div.menu ul li ::-webkit-input-placeholder {
   color: #FFF;
   font-style: italic;
}
div.menu ul li :-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
   font-style: italic;
}
div.menu ul li ::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
   font-style: italic;
}
div.menu ul li :-ms-input-placeholder {  
   color: #FFF; 
   font-style: italic; 
}
div.menu ul li button{
  background: transparent;
  border: 1px solid #181818;
  color: #FFF;
  border-radius: 100%;
  padding: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 12px;
}
div.menu ul li button i{
  color:#181818;
  font-size:13px;
  line-height: 18px;
}
div.menu ul li .menu-social li{
  padding: 0;
  background: #FFF;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  float: none;
  display: inline-block;
}
div.menu ul li .menu-social li a{
  color: #f3b3e7;
  font-size: 10px;
}
.hidden-lg{
  display: none;
}
.hidden-sm{
  display: block;
}
@media screen and (min-width: 981px and max-width: 1024px) {
  div.menu ul li input{
    padding:7px 12px 12px;
  }
}
/*MEDIA QUERY 640 x 960*/
/*===Mobile Phones Portrait ===*/
@media screen and (max-width: 980px) {
  div.new-header-nav-items {
      text-align: center;
      height: 33px;
      margin: 0 auto;
      background: #6958a2;
      display: block;
      position: fixed;
      max-width: 100%;
      width: 100%
  }
  div.new-header-nav-items .ulmenu-menu-icon{
    border: 2px solid #69f269;
    border-radius: 100%;
    color: #69f269;
    width: 20px;
    height: 20px;
    display: block;
    margin: 4px auto;
    line-height: 20px;
    font-size: 13px;
    background-image:none;
  }
  .social-icon-close{
    display: block;
    cursor: pointer;
    font-size: 18px;
  }
  div.menu{
    display: none;
    border-bottom: none;
    height: auto;
  }
  div.menu ul li{
    width: 100%;
    text-align: center;
    padding: 0 !important;
  }
  div.menu ul li.li-close{
    display: block
   }
  div.menu ul li:nth-child(1) {
      background: #6958a2;
  }
  div.menu ul li:nth-child(4) {
      display: block;
  }
  div.menu ul li:nth-child(4){
    background: #eeda7b;
    padding: 10px;
  }
  div.menu ul li:nth-child(5){
    display: block;
  }
  div.menu ul li:nth-child(5){
    background: #f3b3e7;
    padding: 10px;
  }
  div.menu ul li:nth-child(6){
    background: #181818;
  }
  
  div.menu ul li:nth-child(8){
    background: #cfcdc7;
    display: block;
  }
  div.menu ul li input{
    width: 30%;
      margin-right: 1%; 
      text-align: center;
      font-size: 20px;
  }
  div.menu ul li a{
    font-size: 20px;
  }
 

  div.menu ul li.li-close span.social-icon-close{
  float: none;
  margin:5px auto;
 }

 div.menu ul li.li-close span.social-icon-close i{
  line-height: 24px;
  color: #fff
 }
}


div.panel1-left-container iframe{
  width: 97% !important;
  padding:1.75%;
  height: 500px !important;
}