#webStripeContainer {
  width:auto;
  margin-left: -1px;
  margin: auto;
  padding: 100px 5%;
  background-color:#030118;
  overflow: hidden;
  text-align:center;
  vertical-align:middle;
  /*font-family: 'colaborate', sans-serif !important;*/
  color:#e5e5e5;
  font-weight: 200 !important;
  font-style: normal;
  font-size: 24px;
  line-height: 30px !important;
  letter-spacing: 0px;}

div.webStripeContainer > div {
  margin: 0 auto !important;
  position: static !important;}

#webStripeContainer div { padding: 10px !important; margin: 0 auto !important}
#webStripeContainer div:nth-child(odd) { left: 20px !important;}
#webStripeContainer div:nth-child(even) {left: -20px !important;}

@media screen and (max-width:767px){
	#webStripeContainer div{width: 100% !important; left:0 !important}
	#webStripeContainer div img{max-width:100% !important; height: auto !important}	
}

div.webstribe-section{height:auto;}