/*
Theme Name: JgiraldoReporta.com
Theme URI: http://jgiraldoreporta.com
Author: Permalink Group & Oficios Varios
Author URI: http://permalinkgroup.com 
Description: Fashion Police Media Site.
Version: 0.9
License: Copyright Test
*/
div.panel1-left-container img{
	max-width:none
}
div.panel1-left-container iframe{
	width: 97% !important;
	padding:1.75%;
	height: 500px !important;
}